.mobileActionButtons{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5% 0 5%;
}

.mobileActionButtons>div{
    display: flex;
    gap: 2vw;
}

.mobileActionButtons>div>div{
    position: relative;
    background-color: #BC7A0F;
    padding: 0.5vw;
    border-radius: 50%;
    /* border-color: black;
    border-style: solid;
    border-width: 0.2vh; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 7vh;
    width: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileActionButtons>div>div>img{
    height: 9vh;
}

.bottle{
    position: absolute;
    left: calc((100% - 9vh) / 2);
    top: calc((100% - 9vh) / 2);
    height: 9vh !important;
}

.explanationBar{
    display: flex;
    font-family: 'Kranky';
    font-size: 2.5vw;
    margin-top: 2%;
    color: white;
    gap: 1vw;
}

.explanationBar div{
    display: flex;
    align-items: center;
    background-color: #BC7A0F;
    padding: 0.5vw;
    border-radius: 1.5vw;
    gap: 0.5vw;
}

.explanationBar>div{
    border-color: black;
    border-style: solid;
    border-width: 0.2vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.explanationBarIcon{
    height: 4vh;
}

.explanationBarSpan{
    margin-right: 0.5vw;
}

#infoButton:hover{
    cursor: pointer;
    opacity: 0.7;
}

#clickBarrier{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#infoText{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    background-color: #BC7A0F;
    color: white;
    border-radius: 2vw;
    border-color: black;
    border-style: solid;
    font-size: 1.3vw;
    width: 50%;
    padding: 1vw;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.5);
    font-family: 'Kranky';
}

#close{
    position: absolute;
    right: 2vh;
    bottom: 2vh;
}

#close:hover{
    cursor: pointer;
    right: 1.5vh;
    bottom: 1.5vh;
    height: 5vh;
}
